<div class="app-content">
  <section class="signup-left-container">
    <p class="signup-text">
      Join our community of volunteers and change makers of tomorrow.
    </p>
    <img
      src="../../assets/login-image.png"
      alt="Signup page image"
      class="signup-image"
    />
  </section>
  <section class="signup-right-container">
    <mat-card class="signup-card">
      <mat-card-content>
        <!-- <h1 class="signup-form-title">Sign up</h1> -->
        <form
          [formGroup]="signupForm"
          (ngSubmit)="userRegister()"
          name="signupForm"
          class="signup-form"
        >
          <div class="signup-multiple-inputs">
            <div class="signup-input-container">
              <span class="material-icons md-18 signup-icons">person</span>
              <mat-form-field class="signup-form-input">
                <mat-label for="firstName">First name</mat-label>
                <input
                  matInput
                  placeholder="John"
                  id="firstName"
                  formControlName="firstName"
                  required
                />
                <mat-error *ngIf="signupForm.controls['firstName'].invalid">
                  {{
                    getErrorMessage(
                      signupForm.controls["firstName"],
                      "firstName"
                    )
                  }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="signup-input-container">
              <mat-form-field class="signup-form-input">
                <mat-label for="lastName">Last name</mat-label>
                <input
                  matInput
                  placeholder="Doe"
                  id="lastName"
                  formControlName="lastName"
                />
                <mat-error *ngIf="signupForm.controls['lastName'].invalid">
                  {{
                    getErrorMessage(signupForm.controls["lastName"], "lastName")
                  }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div>
            <span class="material-icons md-18 signup-icons">mail</span>
            <mat-form-field class="signup-form-input">
              <mat-label for="email">Enter your email</mat-label>
              <input
                matInput
                placeholder="pat@example.com"
                id="email"
                formControlName="email"
                required
              />
              <mat-error *ngIf="signupForm.controls['email'].invalid">{{
                getErrorMessage(signupForm.controls["email"], "email")
              }}</mat-error>
            </mat-form-field>
          </div>
          <div class="signup-multiple-inputs">
            <div class="signup-input-container">
              <span class="material-icons md-18 signup-icons">lock</span>
              <mat-form-field class="signup-form-input">
                <mat-label for="password">Password</mat-label>
                <input
                  matInput
                  [type]="hide1 ? 'password' : 'text'"
                  id="password"
                  formControlName="password"
                  required
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide1 = !hide1"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide1"
                  class="signup-eye-btn"
                  type="button"
                >
                  <span class="material-icons md-18 signup-btn">
                    {{ hide1 ? "visibility_off" : "visibility" }}</span
                  >
                </button>
                <mat-error *ngIf="signupForm.controls['password'].invalid">
                  {{
                    getErrorMessage(signupForm.controls["password"], "password")
                  }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="signup-input-container">
              <mat-form-field class="signup-form-input">
                <mat-label for="confirmPassword">Confirm password</mat-label>
                <input
                  matInput
                  [type]="hide2 ? 'password' : 'text'"
                  id="confirmPassword"
                  formControlName="confirmPassword"
                  required
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide2 = !hide2"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide2"
                  class="signup-eye-btn"
                  type="button"
                >
                  <span class="material-icons md-18 signup-btn">
                    {{ hide2 ? "visibility_off" : "visibility" }}</span
                  >
                </button>
                <mat-error
                  *ngIf="signupForm.controls['confirmPassword'].invalid"
                >
                  {{
                    getErrorMessage(
                      signupForm.controls["confirmPassword"],
                      "confirmPassword"
                    )
                  }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div>
            <span class="material-icons md-18 signup-icons">phone</span>
            <mat-form-field class="signup-form-input">
              <mat-label for="mobileNumber">Enter your mobile number</mat-label>
              <input
                matInput
                id="mobileNumber"
                formControlName="mobileNumber"
                required
              />
              <mat-error *ngIf="signupForm.controls['mobileNumber'].invalid">{{
                getErrorMessage(
                  signupForm.controls["mobileNumber"],
                  "mobileNumber"
                )
              }}</mat-error>
            </mat-form-field>
          </div>
          <div>
            <span class="material-icons md-18 signup-icons"
              >calendar_month</span
            >
            <mat-form-field class="signup-form-input">
              <mat-label for="dob">Select your date of birth</mat-label>
              <input matInput type="date" id="dob" formControlName="dob" />
            </mat-form-field>
          </div>
          <button type="submit" class="signup-submit-btn">Sign up</button>
        </form>
      </mat-card-content>
    </mat-card>
  </section>
</div>
