.app-content {
  display: flex;
  gap: 5rem;

  justify-content: center;
}

.signup-left-container {
  width: 50%;
  /* margin-left: ; */

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.signup-text {
  width: 50%;
  margin-top: 8rem;
  font-size: 1.6rem;
  line-height: 2rem;
}

.signup-image {
  width: 75%;
}

.signup-right-container {
  width: 50%;
  margin-top: 5rem;

  display: inline-flex;
  align-items: center;
}

.signup-card {
  box-shadow: none;
}

.signup-form {
  width: 40rem;
  max-width: 80%;
  margin: 0 auto;
}

.signup-form-title {
  font-size: 2.2rem;
  font-weight: 800;
  margin-left: 1rem;
  margin-bottom: 5rem;
}

.signup-multiple-inputs {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* gap: 1rem; */

  width: 30rem;
  max-width: 100%;
}

.signup-input-container {
  display: flex;
  align-items: center;
  width: 20rem;
  max-width: 50%;
  margin: 0.5rem 0;
}

.signup-icons {
  margin: 0 0.5rem;
}

.signup-form-input {
  width: 30rem;
  max-width: 80%;
  margin: 0.5rem 0;
  margin-left: 1rem;
}

.signup-multiple-inputs > .signup-form-input {
  width: 15rem;
  max-width: 40%;
  margin: 0.5rem 0;
}

.signup-eye-btn {
  cursor: pointer;
  border: none;
}

.signup-submit-btn {
  display: block;
  width: 80%;
  background-color: #4d89eb;
  color: #ffffff;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  padding: 0.8rem 1rem;
  margin: 0 auto;
  margin-top: 1rem;
}

@media screen and (max-width: 1000px) {
  .signup-left-container {
    display: none;
  }

  .app-content {
    display: block;
  }

  .signup-right-container {
    width: 40rem;
    max-width: 90%;
    padding: 0;
    display: block;
    margin: 5rem auto;
  }

  .signup-form {
    width: 30rem;
    max-width: 100%;
  }

  .signup-form-title {
    font-size: 2.2rem;
    font-weight: 800;
    margin-left: 1rem;
    margin-bottom: 5rem;
  }

  .signup-multiple-inputs {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center; */

    width: 30rem;
    max-width: 100%;
  }

  .signup-input-container {
    display: flex;

    width: 30rem;
    max-width: 100%;
  }

  .signup-input-container:nth-child(2) {
    width: 100%;
    justify-content: center;
    margin-top: 0;
  }

  .signup-input-container:nth-child(2) > .signup-form-input {
    width: 100%;
    /* justify-content: center; */
    margin: 0;
  }
}
