.app-content {
  display: flex;
  gap: 5rem;

  justify-content: center;
}

.login-left-container {
  width: 50%;
  /* margin-left: ; */

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.login-text {
  width: 50%;
  margin-top: 8rem;
  font-size: 1.6rem;
}

.login-image {
  width: 75%;
}

.login-right-container {
  width: 50%;
  margin-top: 7rem;
  padding-left: 5rem;
  box-shadow: none;

  display: inline-flex;
  align-items: center;
}

.login-form-title {
  font-size: 2.2rem;
  font-weight: 800;
  margin-left: 1rem;
  margin-bottom: 5rem;
}

.login-icons {
  margin: 0 0.5rem;
}

.login-form-input {
  width: 20rem;
  max-width: 80%;
  margin: 0.5rem 0;
}

.login-eye-btn {
  cursor: pointer;
  border: none;
}

.login-submit-btn {
  display: block;
  width: 90%;
  background-color: #4d89eb;
  color: #ffffff;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  padding: 0.8rem 1rem;
  margin: 0 auto;
  margin-top: 3rem;
}

@media screen and (max-width: 600px) {
  .login-left-container {
    display: none;
  }

  .app-content {
    gap: 0;
  }

  .login-right-container {
    width: 40rem;
    max-width: 90%;
    display: flex;
    padding: 0;
    margin-top: 3rem;
    justify-content: center;
  }
}
